In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import matplotlib as plt
from category_encoders import TargetEncoder, OneHotEncoder
import seaborn as sns

df = pd.read_csv('Dao_version_price_final.csv')
print(df.head())

   Unnamed: 0  ad_id             origin condition  car_model  mileage  \
0           0  17042  Domestic assembly   New car      Truck        0
1           1  53794           Imported   New car        SUV        0
2           2  73954  Domestic assembly   New car  Crossover        0
3           3  74150           Imported   New car        SUV        0
4           4  87573  Domestic assembly   New car  Crossover        0

  exterior_color interior_color  num_of_doors  seating_capacity  engine  \
0          White           Grey             2                 2  Petrol
1          Black          Black             5                 7  Petrol
2         Silver          Brown             5                 8  Petrol
3          White          Black             5                 5  Petrol
4         Silver           Grey             5                 8  Petrol

   engine_capacity transmission drive_type  fuel_consumption   brand  \
0              1.0       Manual        RFD              10.1  Suzuki
1              3.4    Automatic        AWD              12.8  Toyota
2              2.0    Automatic        RFD              11.0  Toyota
3              1.8    Automatic        FWD               6.5  Toyota
4              2.0    Automatic        RFD              11.0  Toyota

           grade  year_of_manufacture                              car_name  \
0    Super_Carry                 2022  Suzuki Super Carry Truck 1.0 MT 2022
1   Land_Cruiser                 2022       Toyota Land Cruiser 3.5 V6 2022
2         Innova                 2023       Toyota Innova G 2.0 AT 2023 car
3  Corolla_Cross                 2023        Toyota Corolla Cross 1.8G 2023
4         Innova                 2022       Toyota Innova G 2.0 AT 2022 car

   price_in_billion
0             0.249
1             4.286
2             0.885
3             0.754
4             0.840

In [2]:
count = df['grade'].nunique()
print(count)

622

In [3]:
# Khởi tạo encoder với cột 'grade'
encoder = TargetEncoder(cols=['grade'])

# Fit encoder với dữ liệu
encoder.fit(df['grade'], df['price_in_billion'])

# Áp dụng encoder cho cột 'grade'
df['grade'] = encoder.transform(df['grade'])
print(len(df['grade'].unique()))

605

In [4]:
columns_to_encode = ['grade']
one_hot_matrix = pd.get_dummies(df['grade'])

# Chuyển đổi các giá trị 'True' và 'False' thành '1' và '0'
one_hot_matrix = one_hot_matrix.astype(int)
print(one_hot_matrix)

       0.063248   0.113205   0.130095   0.155031   0.166612   0.166859   \
0              0          0          0          0          0          0
1              0          0          0          0          0          0
2              0          0          0          0          0          0
3              0          0          0          0          0          0
4              0          0          0          0          0          0
...          ...        ...        ...        ...        ...        ...
30647          0          0          0          0          0          0
30648          0          0          0          0          0          0
30649          0          0          0          0          0          0
30650          0          0          0          0          0          0
30651          0          0          0          0          0          0

       0.181544   0.202584   0.227841   0.238620   ...  6.356961   6.527447   \
0              1          0          0          0  ...          0          0
1              0          0          0          0  ...          0          0
2              0          0          0          0  ...          0          0
3              0          0          0          0  ...          0          0
4              0          0          0          0  ...          0          0
...          ...        ...        ...        ...  ...        ...        ...
30647          0          0          0          0  ...          0          0
30648          0          0          0          0  ...          0          0
30649          0          0          0          0  ...          0          0
30650          0          0          0          0  ...          0          0
30651          0          0          0          0  ...          0          0

       8.030512   8.554559   8.647611   9.673021   10.001769  10.510588  \
0              0          0          0          0          0          0
1              0          0          0          0          0          0
2              0          0          0          0          0          0
3              0          0          0          0          0          0
4              0          0          0          0          0          0
...          ...        ...        ...        ...        ...        ...
30647          0          0          0          0          0          0
30648          0          0          0          0          0          0
30649          0          0          0          0          0          0
30650          0          0          0          0          0          0
30651          0          0          0          0          0          0

       11.368900  12.680036
0              0          0
1              0          0
2              0          0
3              0          0
4              0          0
...          ...        ...
30647          0          0
30648          0          0
30649          0          0
30650          0          0
30651          0          0

[30652 rows x 605 columns]

In [5]:
one_hot_matrix = pd.get_dummies(df['grade'])

# Gộp ma trận one-hot vào DataFrame
df = pd.concat([df, one_hot_matrix], axis=1)

In [6]:
df.head()

,Unnamed: 0,ad_id,origin,condition,car_model,mileage,exterior_color,interior_color,num_of_doors,seating_capacity,...,6.356960731206286,6.5274473634453605,8.03051188954328,8.554559037431172,8.647610773060057,9.673020892289555,10.001768859587541,10.510588297846038,11.368900101181055,12.680035705417566
0,0,17042,Domestic assembly,New car,Truck,0,White,Grey,2,2,...,False,False,False,False,False,False,False,False,False,False
1,1,53794,Imported,New car,SUV,0,Black,Black,5,7,...,False,False,False,False,False,False,False,False,False,False
2,2,73954,Domestic assembly,New car,Crossover,0,Silver,Brown,5,8,...,False,False,False,False,False,False,False,False,False,False
3,3,74150,Imported,New car,SUV,0,White,Black,5,5,...,False,False,False,False,False,False,False,False,False,False
4,4,87573,Domestic assembly,New car,Crossover,0,Silver,Grey,5,8,...,False,False,False,False,False,False,False,False,False,False

In [7]:


# Tạo heatmap
plt.figure(figsize=(10, 6))  # Kích thước của figure
sns.heatmap(df.corr(), annot=True, cmap='coolwarm', linewidths=0.5)  # Vẽ heatmap với ma trận tương quan của DataFrame df
plt.title('Heatmap của DataFrame')  # Tiêu đề của heatmap
plt.show()  # Hiển thị heatmap

TypeError: 'module' object is not callable

In [ ]:
# Mã hóa cột 'color' bằng pd.get_dummies()
columns_to_encode = ['origin']
encoded_columns = pd.get_dummies(df[columns_to_encode])
encoded_columns.astype(int)

       origin_Domestic assembly  origin_Imported
0                             1                0
1                             0                1
2                             1                0
3                             0                1
4                             1                0
...                         ...              ...
30647                         1                0
30648                         0                1
30649                         0                1
30650                         1                0
30651                         0                1

[30652 rows x 2 columns]

In [ ]:
print(encoded_array)

[[0 0 1]
 [1 0 0]
 [0 1 0]
 [0 0 1]
 [1 0 0]]